<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img
          src="../../assets/img/image1.jpg"
          alt="Random first slide"
          class="item"
        />
      </ng-template>
      <ng-template ngbSlide>
        <img
          class="item"
          src="../../assets/img/image2.jpg"
          alt="Random second slide"
        />
      </ng-template>
      <ng-template ngbSlide>
        <img
          class="item"
          src="../../assets/img/image3.jpg"
          alt="Random third slide"
        />
      </ng-template>
    </ngb-carousel>
  </div>
</section>
